# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [14]:
import pandas as pd
import os, re
import configparser
import pyspark
from datetime import timedelta, datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col, when, lower, isnull, year, month, dayofmonth, hour, weekofyear, dayofweek, date_format, to_date
from pyspark.sql.types import StructField, StructType, IntegerType, DoubleType, LongType

from pyspark.sql.functions import first
from pyspark.sql.functions import upper, col
from pyspark.sql.types import StructField, StructType, StringType, LongType, IntegerType
from pyspark.sql.functions import udf, date_trunc, date_format
import datetime as dt

### Step 1: Scope the Project and Gather Data

#### Scope 

I used the immigration dataset and city demographics datasets provided by Udacity.
As usaul pandas used to read the dataset and SQL data is used as well. The purpose  

#### Describe and Gather Data 
For this work, the I-94 Immigration Dataset, the Global Temperature Dataset and U.S. City Demographic Dataset are used. The descriptions contained in the I94_SAS_Labels_Descriptions.SAS file is taken into account as well. It describes people who entered the USA with law. In case, they are tour, or for business, or student. Border will be able to identify that using i94 to see who enter the US with law. 

Below we have the final data model that is combined from the data from this link: ../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat' it is only from the month of april. The data is 28 columns.  

Main information and data were extracted are from below

Immigrants by nationality.
Immigrants by origin.
Immigrants by airline.
Correlations between destination in the U.S and the source country.
Correlations between destination in the U.S and source climates.
Correlations between immigration by source region, and the source region temperature.
Correlations between Immigrants demographics, and states visited.

Step 2: Explore and Assess the Data¶

U.S. immigration officers have been issuing the I-94 Form (Arrival/Departure Record) to those visits the united states. It is about white piece of papaers that have digits number can detect or tell the travelers who entered legally the united states

This is the main datasets below provided from the link ../../data/18-83510-I94-Data-2016/ in the SAS binary database storage format sas7bdat. It took long time to read as it is a very large file

In [6]:
immig_fileName = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
immig = pd.read_sas(immig_fileName, 'sas7bdat', encoding="ISO-8859-1")

In [3]:
immig.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2

In [116]:
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
temp_world = pd.read_csv(fname)

In [117]:
temp_world.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [118]:
temp_world = temp_world.groupby(["Country"]).agg({"AverageTemperature": "mean", 
                                                                        "Latitude": "first", "Longitude": "first"}).reset_index()

In [119]:
temp_world.head()

       Country  AverageTemperature Latitude Longitude
0  Afghanistan           13.816497   36.17N    69.61E
1      Albania           15.525828   40.99N    19.17E
2      Algeria           17.763206   36.17N     3.98E
3       Angola           21.759716   12.05S    13.15E
4    Argentina           16.999216   39.38S    62.43W

In [120]:
airport = pd.read_csv("airport-codes_csv.csv")

In [121]:
airport.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [122]:
us_cities_demographics = pd.read_csv("us-cities-demographics.csv", sep=";")

In [123]:
us_cities_demographics.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
 

Map out the conceptual data model and explain why you chose that model

using dimentio table that saved as parquest files will make it easier to be used by data scinetist and other users to provide analystics process as those files will be on any columnar database in Star Schema mode. For more details, please refer to starSschema.png. Dempographic data model is porvided in an image that will illustrate the relationship. We are dealing with big data here and since we are for this solutions it made sense to use opensource Apache PySpark and python tools in which can be easily moved over to coloud solution such as AWS. At the end those files are saved in parquet files for a purpose to be in bulk in which can be copied over to AWS redshift cluster as it can scale big data requirments and has 'massively parallel' and 'limitless concurrency' for thousands of concurrent queries executed by users. I created deminstion table and fact table to be able to save them as parquet files in schemamodel for  that to be stored in nonimmigrants data entry and port of US demogrphic data which will help to ogrnaize the final data model to help in making queries based on age, holidys, where are from and so on. So having the demographic and nonimmigrant data will help query this information as they both provide the required data as it is provided in this very notebook. As an example, Users can make simple queries by selecting or joing fact and dim table. That is the reason why I chose the Star schema for this as it effective     




#### 3.2 Mapping Out Data Pipelines
An ETL piplines was build to store, save and load the data into parquet files as it will be easy to process. Famous library were used pandas to read and anylysi. Spark to use to large dataset to manage and save in parquet files. Drop duplicate table. For those project a lot of packges were installed spark, pandas.

The increased by 1000X, using spark solution will help scale using AWS (EMR cluster) and use S3 for data and parquet file storage. AWS will easily scale when data increases by 100x 

The data populates a dashboard that must be updated on a daily basis by 7am every day.
Airflow is applicaple solution for cases as you can sechdule queries

The database needed to be accessed by 100+ people.
Saved parquet files on bulk can be copied over aws redshift therefore it can scale big data requirment, massively parallel' and 'limitless concurrency' for thousands of concurrent queries executed by users

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
The data pipeline is built inside the ETL.py file included with this Capstone Project

.

The data pipeline is built inside the ETL.py file included with this Capstone Project

#The AWS key id and password are configured in a configuration file "dl.cfg"

In [7]:
spark = SparkSession.builder.\
config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
.getOrCreate()

In [20]:
# Reading dataset file of demographics cities 
sparkUS = spark.read.csv("us-cities-demographics.csv", sep=';',header=True)

In [21]:
sparkUS.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: string (nullable = true)
 |-- Male Population: string (nullable = true)
 |-- Female Population: string (nullable = true)
 |-- Total Population: string (nullable = true)
 |-- Number of Veterans: string (nullable = true)
 |-- Foreign-born: string (nullable = true)
 |-- Average Household Size: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: string (nullable = true)

In [114]:
sparkUS.count()

2891

In [115]:
sparkUS.head()

Row(City='Silver Spring', State='Maryland', Median Age='33.8', Male Population='40601', Female Population='41862', Total Population='82463', Number of Veterans='1562', Foreign-born='30908', Average Household Size='2.6', State Code='MD', Race='Hispanic or Latino', Count='25924')

In [25]:
# Creating dataset with US cities as demo
USARaceContenint=(sparkUS.select("city","state code","Race","count")
    .groupby(sparkUS.City, "state code")
    .pivot("Race")
    .agg(first("Count")))

In [27]:
cols = ["VetNum", "Count", "Race"]

In [28]:
# Dropping columns to return new data without the duplicates columns

USA = sparkUS.drop(*cols).dropDuplicates()

In [29]:
# storing and joinging SPARKUS dataset
USA = USA.join(USARaceContenint, ['City','state code'])

In [30]:
# changing columns names to avoid conflict and complication in parquet
USA=USA.select('City', col('State Code').alias('State_Code'), 'State', col('Median Age').alias('Median_age'),
     col('Male Population').alias('Male_Pop'), col('Female Population').alias('Fem_Pop'), 
        col('Total Population').alias('Ttl_Pop'), 'Foreign-born', 
          col('Average Household Size').alias('Avg_Household_Size'),
             col('American Indian and Alaska Native').alias('Native_Pop'), 
                 col('Asian').alias('Asian_Pop'), 
                    col('Black or African-American').alias('Black_Pop'), 
                      col('Hispanic or Latino').alias('Latino_Pop'), 
                        col('White').alias('White_Pop'))

In [31]:
# dropping column state
USA = USA.drop("state")

In [32]:
# at this moment we write USA dataset in parquest file processing we do that because Parquet is a columnar format that is supported by many other data processing systems. Spark SQL provides support for both reading and writing Parquet files that automatically preserves the schema of the original data.
USA.write.mode('overwrite').parquet("us_cities_demographics.parquet")

In [33]:
I94VisaData = [[1, 'Business'], [2, 'Pleasure'], [3, 'Student']]

In [34]:
# we convert I94VisaData to spark dataframe in order to read it into parquet file
I94VisaD = spark.createDataFrame(I94VisaData)

In [35]:
# creating parquestfile after converting
I94VisaD.write.mode('overwrite').parquet('./data/I94VisaD.parquet')

In [61]:
#Reading Text File 
I94Res = pd.read_csv('./data/I94rescit_I94RES.txt',sep='=',names=['id','country'])

In [64]:
# We are creating schema for DF and call it I94Res_schema
I94Res_schema = StructType([
    StructField('id', StringType(), True),
    StructField('country', StringType(), True)
])

In [58]:
# Removing white spaces 
I94Res['country']=I94Res['country'].str.replace("'",'').str.strip()

In [59]:
# we are convering pandas to list here so objects will change to string with single qoutes
I94RESData=I94Res.values.tolist()

In [65]:
I94Res=spark.createDataFrame(I94RESData, I94Res_schema)

In [66]:
# creating parquest file 
I94Res.write.mode('overwrite').parquet('./data/i94res.parquet')

In [36]:
# List
I94ModeListData = [[1,'Air'],[2,'Sea'],[3,'Land'],[9,'unreported']]

In [37]:
# we convert I94ModeListData to spark dataframe in order to read it into parquet file

I94Mod = spark.createDataFrame(I94ModeListData)

In [67]:
# we convert I94ModeListData to spark dataframe in order to read it into parquet file
I94Mod.write.mode("overwrite").parquet('./data/I94Mod.parquet')

In [71]:
# Reading I94Port txt file
I94PortDataF = pd.read_csv('./data/I94Port.txt',sep='=',names=['id','port'])

In [72]:
#def toCastType(df, cols):
#    for k,v in cols.items():
#        if k in df.columns:
#            df = df.withColumn(k, df[k].cast(v))
#    return df

In [73]:
#I94ResTxT = toCastType(res, {"Code": IntegerType()})
#I94ResTxT = I94ResTxT.withColumn('resCountry_Lower', lower(res.I94CTRY))

In [82]:
#Removing white spaces
I94PortDataF['id']=I94PortDataF['id'].str.strip().str.replace("'",'')

In [85]:
# Create two columns from i94port string: port_city and port_addr
# also remove whitespaces and single quotes
I94PortDataF['port_city'], I94PortDataF['port_state']=I94PortDataF['port'].str.strip().str.replace("'",'').str.strip().str.split(',',1).str

In [86]:
I94PortDataF['port_state']=I94PortDataF['port_state'].str.strip()

In [87]:
I94PortDataF.drop(columns =['port'], inplace = True)

In [88]:
# Converting Dataframe to list so changes to removing white spaces will be implmented in the list and become string
I94PortData=I94PortDataF.values.tolist()

In [89]:
# Creating sehcma
I94Portschema = StructType([
    StructField('id', StringType(), True),
    StructField('port_city', StringType(), True),
    StructField('port_state', StringType(), True)
])

In [90]:
i94port=spark.createDataFrame(I94PortDataF, I94Portschema)

In [91]:
i94port.write.mode('overwrite').parquet('./data/i94port.parquet')

In [92]:
# Read i94 non-immigration dataset
I94Spark=spark.read.parquet("sas_data")

In [93]:
# Numeric to Longtype and integerType
I94Spark=I94Spark.select(col("i94res").cast(IntegerType()),col("i94port"), 
                           col("arrdate").cast(IntegerType()),
                           col("i94mode").cast(IntegerType()),col("depdate").cast(IntegerType()),
                           col("i94bir").cast(IntegerType()),col("i94visa").cast(IntegerType()), 
                           col("count").cast(IntegerType()),
                              "gender",col("admnum").cast(LongType()))

In [94]:
I94Spark.printSchema()

root
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- admnum: long (nullable = true)

In [95]:
#Dropping Duplicates
I94Spark=I94Spark.dropDuplicates()

In [96]:
# adding i94port columns
I94Spark=I94Spark.join(i94port, I94Spark.i94port==i94port.id, how='left')

In [98]:

I94Spark=I94Spark.drop("id")

In [105]:
# merging USA with I94spark to i94non_immigrant_port_entry fact table
I94nonImmigrantPortEntry=I94Spark.join(USA, (upper(I94Spark.port_city)==upper(USA.City)) & \
                                           (upper(I94Spark.port_state)==upper(USA.State_Code)), how='left')

In [106]:
I94nonImmigrantPortEntry=I94nonImmigrantPortEntry.drop("City","State_Code")

In [107]:
# Convert SAS arrival date to datetime format
get_date = udf(lambda x: (dt.datetime(1960, 1, 1).date() + dt.timedelta(x)).isoformat() if x else None)
I94nonImmigrantPortEntry = I94nonImmigrantPortEntry.withColumn("arrival_date", get_date(I94nonImmigrantPortEntry.arrdate))

In [108]:
I94Date=I94nonImmigrantPortEntry.select(col('arrdate').alias('arrival_sasdate'),
                                   col('arrival_date').alias('arrival_iso_date'),
                                   date_format('arrival_date','M').alias('arrival_month'),
                                   date_format('arrival_date','E').alias('arrival_dayofweek'), 
                                   date_format('arrival_date', 'y').alias('arrival_year'), 
                                   date_format('arrival_date', 'd').alias('arrival_day'),
                                  date_format('arrival_date','w').alias('arrival_weekofyear')).dropDuplicates()

In [109]:
# Save to parquet file
I94nonImmigrantPortEntry.drop('arrival_date').write.mode("overwrite").parquet('./data/I94nonimmigrantportentry.parquet')

In [111]:
# Here we are adding season to dimention table to group the data in the database when the business creates reports
I94Date.createOrReplaceTempView("I94Date_table")
I94DateSeason=spark.sql('''select arrival_sasdate,
                         arrival_iso_date,
                         arrival_month,
                         arrival_dayofweek,
                         arrival_year,
                         arrival_day,
                         arrival_weekofyear,
                         CASE WHEN arrival_month IN (12, 1, 2) THEN 'winter' 
                                WHEN arrival_month IN (3, 4, 5) THEN 'spring' 
                                WHEN arrival_month IN (6, 7, 8) THEN 'summer' 
                                ELSE 'autumn' 
                         END AS date_season from I94Date_table''')

In [112]:
# Here we are saving I94Date dimension to parquet file 
I94DateSeason.write.mode("overwrite").partitionBy("arrival_year", "arrival_month").parquet('./data/i94date.parquet')

#### 4.2 Data Quality Checks

In [113]:
# Perform quality checks here

if sparkUS.count() > 0:
    print('Passed reading data file.')
else:
    print('Seems to be nothing in file!')

if USA.count() == USARaceContenint.count():
    print('Transformation went perfect.')
else:
    print('Inconsistant data between both dataframes!')

if I94Spark.count() > 0:
    print('Passed reading data file.')
else:
    print('Seems to be nothing in file!')
    
if I94Spark.count() == I94nonImmigrantPortEntry.count():
    print('Transformation went perfect.')
else:
    print('Inconsistant data between both dataframes!')

Passed reading data file.
Transformation went perfect.
Passed reading data file.
Transformation went perfect.

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

i94date


    arrival_sasdate int PK
    arrival_isodate date
     arrival_month int 
     arrival_day int 
     arrival_year int 
     arrival_week int
    arrival_season string

i94port¶

    id string PK
    city string 
    state string

i94visa

    id int PK
    reason string

i94res

     id int PK
    country string

i94mod

    id int PK
    transport string

i94nonimmigrantportentry¶

    admnum int PK


     arrdate int FK 

    depdate int

    port_id string FK

    visa_id int FK 

    res_id int FK 

    mode_id int FK 

    age int

    gender string
    
    nt_of_one int

    median_age float

    male_pop int

    female_pop int

    ttl_pop int

    foreign_born_pop int

    avg_household_size float

    american_indian_alaskan_native_pop int

    asian_pop int

    black_african_american_pop int

    hispanic_pop int

    white_pop int

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.

The solution implemented is based on cloud AWS. In which all of the datasets were preprocessed using apache spark and using AWS S3 staging area to store those preprocessed datasets. Then, it is loaded into a Amazon Redshift cluster using an Apache Airflow pipeline that transfers and checks the quality of the data to finally provide the department a Data Lake for their convenient analysis. Since we are dealing with huge data it will make much to use tools such apache spark and python and using amazon cloud service. As we learned in the udacity course apache spark an open-source unified analytics engine for large-scale data processing. Spark provides an interface for programming entire clusters with implicit data parallelism and fault tolerance. Python help analysis data nd provide libraries such as pandas and more,


* Propose how often the data should be updated and why.

If new category created in I94 it will be updated Dimenstion tables. However, as the dimenstion table I94DATE can be updated every month. The US Cities Demographics data is updated every ten years according to https://www.usa.gov/statistics. So, the new US Cities Demographics data set maybe coming after year 2020. And may need updating after one year or two years as of 2019.

* Write a description of how you would approach the problem differently under the following scenarios:

The increased by 1000X, using spark solution will help scale using AWS (EMR cluster) and use S3 for data and parquet file storage. AWS will easily scale when data increases by 100x 

The data populates a dashboard that must be updated on a daily basis by 7am every day.
Airflow is applicaple solution for cases as you can sechdule queries

The database needed to be accessed by 100+ people.
Saved parquet files on bulk can be copied over aws redshift therefore it can scale big data requirment, massively parallel' and 'limitless concurrency' for thousands of concurrent queries executed by users

The saved parquet files can be bulk copied over to AWS Redshift cluster where it can scale big data requirements and has 'massively parallel' and 'limitless concurrency' for thousands of concurrent queries executed by users.